<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.circadian">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Circadian">
        <activity
            android:name=".ScanQR"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        </activity>
        <activity
            android:name=".OnboardingScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>